@use '../abstracts/' as *;

.restaurant-menu {
  &__img {
    height: 260px;
  }

  section {
    border-radius: 2rem 2rem 0 0;
    margin-top: -2rem;
    position: relative;
    z-index: 2;
  }

  &__title {
    margin-right: 1rem;
  }

  .card {
    @include cardAnimationDelay();
    animation: cardTranslationAnimation 300ms ease-out forwards;
    opacity: 0;
  }
}
