@use '../abstracts/' as *;

footer {
  padding: 1.5rem 1rem;
  color: map-get($colors, base);
  background-color: map-get($colors, footerColor);

  li {
    margin-top: 0.5rem;
    display: flex;
  }

  a {
    text-decoration: none;
    display: flex;
    align-items: center;

    .fa-hands-helping {
      font-size: 0.75rem;
    }

    i + span {
      padding-left: 0.75rem;
      font-weight: 400;
    }

    span {
      font-weight: 300;
    }

    &:hover span {
      text-decoration: underline;
    }
  }
}
