@use '../abstracts/' as *;

.hero {
  text-align: center;
  background-color: $bg-light;

  h2 {
    margin-bottom: 1rem;
  }

  p {
    margin-bottom: 2rem;
  }

  &__link {
    display: flex;
    justify-content: center;
    @extend %btn;
  }
}
