@use '../abstracts/' as *;

.card-group--numbered-list {
  counter-reset: card-count;
  padding-left: 0.75rem;

  .card {
    background-color: $bg-light;
    position: relative;
    align-items: center;
    overflow: visible;
    padding: 1.5rem 0 1.5rem 1.75rem;

    &::before {
      counter-increment: card-count;
      content: counter(card-count);
      background-color: $primary-color;
      border-radius: 2rem;
      width: 1.5rem;
      height: 1.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      left: -0.75rem;
      color: $bg-base;
      font-size: 0.75rem;
    }

    span {
      font-weight: 700;
      padding-left: 1rem;
    }

    &:last-of-type {
      background-color: lighten($primary-color, 35%);
      margin-bottom: 1.5rem;

      i {
        color: $primary-color;
      }
    }

    @include mq($bp-tab) {
      max-width: 300px;
      margin: 0 auto 1.5rem;
    }
  }
}
