@use '../abstracts/' as *;

.restaurants {
  background-color: $bg-light;

  .card {
    flex-direction: column;

    &__img {
      height: 175px;
      position: relative;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 1rem 1rem 0 0;
      }

      span {
        position: absolute;
        top: 0.75rem;
        right: 0.75rem;
        background-color: $tertiary-color;
        padding: 0.5rem 0.75rem;
        color: darken($tertiary-color, 40%);
        font-weight: 700;
      }
    }
  }
}
