@use '../abstracts/' as *;

.btn {
  display: flex;
  justify-content: center;
  margin-top: 2rem;

  a {
    text-decoration: none;
    display: flex;

    span {
      background-image: linear-gradient(
        to bottom right,
        $light-secondary 5%,
        $secondary-color 20%,
        $primary-color 100%
      );
      background-size: 150%, 150%;
      background-position: bottom right;
      border-radius: 2rem;
      padding: 1rem;
      color: $bg-base;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      transition: background-position 300ms, box-shadow 300ms;
    }

    &:hover,
    &:active {
      span {
        box-shadow: 0 8px 16px rgba(black, 0.4);
        background-position: top left;
      }
    }
  }
}
