@use '../abstracts/' as *;

.btn {
  display: flex;
  justify-content: center;
  margin-top: 2rem;

  a {
    text-decoration: none;
    display: flex;

    &:hover {
      span {
        background-image: linear-gradient(
          to bottom right,
          lighten($secondary-color, 10%),
          lighten($primary-color, 10%)
        );
        box-shadow: 0 8px 16px rgba(black, 0.4);
      }
    }
  }

  span {
    background-image: linear-gradient(to bottom right, $secondary-color, $primary-color);
    border-radius: 2rem;
    padding: 1rem;
    color: $bg-base;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
}
