@use '../abstracts/' as *;

.card-group {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.card__info {
  min-width: 100%;
}

.card:hover .card__info {
  min-width: calc(100% - 4rem);
}

.card {
  background-color: $bg-base;
  width: 100%;
  margin-bottom: 1.5rem;
  border-radius: 1rem;
  @extend %box-shadow;
  display: flex;

  &:last-of-type {
    margin-bottom: 0;
  }

  @include mq($bp-tab) {
    max-width: 400px;
    margin: 0 auto 1.5rem;
  }

  &__content {
    display: flex;
    padding: 1rem 1.5rem 1rem 1rem;
    justify-content: space-between;
    align-items: center;

    &__text {
      display: flex;
      flex: 1;
      flex-direction: column;
      height: 2.5rem;
      justify-content: space-between;
      max-width: 80%;

      span {
        @extend %text-overflow;
      }
    }

    strong {
      font-weight: 900;
      @extend %text-overflow;
    }

    i {
      font-size: 1.75rem;
    }

    &__price {
      align-self: flex-end;
      font-weight: 700;
    }
  }

  &__hover {
    min-width: 4rem;
    background-color: $tertiary-color;
    color: $bg-base;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100%;
    font-size: 1.25rem;
    border-radius: 0 1rem 1rem 0;
  }
}
