@use '../abstracts/' as *;

.card {
  width: 100%;
  margin-bottom: 1.5rem;
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  overflow: hidden;

  &:last-of-type {
    margin-bottom: 0;
  }

  &__content {
    background-color: $bg-base;
    display: flex;
    padding: 1rem 1.5rem 1rem 1rem;
    justify-content: space-between;
    align-items: center;
    min-width: 100%;
    transition: min-width 250ms ease-out;

    &__text {
      display: flex;
      flex: 1;
      flex-direction: column;
      height: 2.5rem;
      justify-content: space-between;
      max-width: 80%;

      span {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }

    strong {
      font-weight: 900;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

      &::first-letter {
        text-transform: uppercase;
      }
    }

    i {
      font-size: 1.75rem;
    }

    &__price {
      align-self: flex-end;
      font-weight: 700;
    }
  }

  &__hover {
    min-width: 4rem;
    background-color: $tertiary-color;
    color: $bg-base;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100%;
    font-size: 1.5rem;
  }

  &--img {
    flex-direction: column;

    &__img {
      height: 175px;
      position: relative;

      img {
        border-radius: 1rem 1rem 0 0;
      }
    }

    &__new {
      position: absolute;
      top: 0.75rem;
      right: 0.75rem;
      background-color: $tertiary-color;
      padding: 0.5rem 0.75rem;
      color: darken($tertiary-color, 40%);
      font-weight: 700;
      border-radius: 2px;
    }
  }

  &:hover &__content {
    min-width: calc(100% - 4rem);
  }

  &:hover &__hover {
    i {
      animation: icon-spin 250ms ease-in;
    }
  }

  @include mq($bp-tab) {
    max-width: 400px;
    margin: 0 auto 1.5rem;

    &:last-of-type {
      margin-bottom: 1.5rem;
    }
  }
}
