@use '../abstracts/' as *;

body {
  font-family: $content-font, sans-serif;
}

section {
  padding: 2rem 1rem 3rem;
}

a {
  text-decoration: none;
  color: inherit;

  &:visited {
    color: inherit;
  }
}

ul {
  padding: 0;
}
