@use '../abstracts/' as *;

section {
  padding: 2rem 1rem 3rem;

  &:nth-of-type(2n + 1) {
    background-color: map-get($colors, dark-base);
  }
}

.wrap {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  position: relative;
}

a {
  text-decoration: none;
  color: inherit;

  &:visited {
    color: inherit;
  }
}

ul {
  padding: 0;
}

img {
  @extend %img;
}

main h3 {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    bottom: -0.25rem;
    left: 0;
    width: 40px;
    height: 3px;
    background-color: map-get($colors, tertiary);
  }
}

.card-group {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.sub-menu {
  padding: 1rem 0;
}
