@use '../abstracts/' as *;

body {
  font-family: $content-font, sans-serif;
}

h1,
footer h3 {
  font-family: $title-font, sans-serif;
  font-weight: 400;
  text-transform: lowercase;
}

h2 {
  font-family: $title-font, sans-serif;
  font-weight: 400;
  font-size: 1.75rem;

  span::first-letter {
    text-transform: uppercase;
  }
}

main h3 {
  text-transform: uppercase;
  font-weight: 300;
}
