@use '../abstracts/' as *;

body,
.home h2 {
  font-family: map-get($font, content), sans-serif;
}

h1,
footer h3 {
  @extend %titre-typography;
  text-transform: lowercase;
}

h2 {
  @extend %titre-typography;
  font-size: 1.75rem;

  p::first-letter {
    text-transform: uppercase;
  }
}

.home h2 {
  font-weight: 700;
}

main h3 {
  text-transform: uppercase;
  font-weight: 300;
}
