@use 'vars' as *;

@keyframes loaderDisplay {
  0% {
    opacity: 1;
    visibility: visible;
  }
  95% {
    opacity: 1;
  }
}

@keyframes loaderSpin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes loaderColors {
  10% {
    border-top-color: $secondary-color;
  }

  35% {
    border-top-color: $primary-color;
  }
}

@keyframes cardTranslationAnimation {
  0% {
    transform: translateY(0.5rem);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes icon-spin {
  0% {
    transform: rotate(90deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
