@use 'vars' as *;

@keyframes loaderDisplay {
  0% {
    opacity: 1;
    visibility: visible;
  }
  95% {
    opacity: 1;
  }
}

@keyframes loaderSpin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(270deg);
  }
}

@keyframes loaderDash {
  50% {
    stroke-dashoffset: $offset/4;
    transform: rotate(135deg);
  }
  100% {
    transform: rotate(450deg);
  }
}

@keyframes loaderColors {
  50% {
    stroke: $secondary-color;
  }
  100% {
    stroke: $light-secondary;
  }
}

@keyframes cardTranslationAnimation {
  0% {
    transform: translateY(0.5rem);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes icon-spin {
  0% {
    transform: rotate(90deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
