@use 'vars' as *;

%title {
  font-family: $title-font, sans-serif;
  font-weight: 400;
}

%text-overflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

%box-shadow {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* BOUTONS AVEC DEGRADE DE COULEURS */
%btn {
  a {
    text-decoration: none;
  }

  span {
    background: linear-gradient(to bottom right, $secondary-color, $primary-color);
    border-radius: 2rem;
    padding: 1rem;
    color: $bg-base;
    @extend %box-shadow;
  }
}
