@use 'vars' as *;

%title {
  font-family: $title-font, sans-serif;
  font-weight: 400;
}

%text-overflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

%box-shadow {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* BOUTONS AVEC DEGRADE DE COULEURS */
%btn {
  a {
    text-decoration: none;
    display: flex;

    &:hover {
      span {
        background-image: linear-gradient(
          to bottom right,
          lighten($secondary-color, 10%),
          lighten($primary-color, 10%)
        );
        box-shadow: 0 8px 16px rgba(black, 0.4);
      }
    }
  }

  span {
    background-image: linear-gradient(to bottom right, $secondary-color, $primary-color);
    border-radius: 2rem;
    padding: 1rem;
    color: $bg-base;
    @extend %box-shadow;
  }
}
