/* FONTS */

$font: (
  title: 'Shrikhand',
  content: 'Roboto',
);

/* COLORS */

$colors: (
  base: #fff,
  footerColor: scale-color(#000, $lightness: 20%),
  primary: #9356dc,
  secondary: #ff79da,
  tertiary: #99e2d0,
  light-primary: scale-color(#9356dc, $lightness: 85%),
  light-secondary: scale-color(#ff79da, $lightness: 10%),
  dark-tertiary: scale-color(#99e2d0, $lightness: -60%),
  dark-base: scale-color(#fff, $lightness: -5%),
  formColor: scale-color(#fff, $lightness: -10%),
);

/* ANIMATIONS */

$duration: 1.2s;

/* BREAKPOINTS */

$bp: (
  tab: 768px,
  medium: 960px,
  desktop: 1200px,
);
