/* FONTS */

$title-font: 'Shrikhand';
$content-font: 'Roboto';

/* COLORS */

$primary-color: #9356dc;
$secondary-color: #ff79da;
$light-secondary: scale-color($secondary-color, $lightness: 10%);
$tertiary-color: #99e2d0;
$bg-base: #fff;
$bg-light: darken(#fff, 5%);

/* ANIMATIONS */

$duration: 1.2s;
$offset: 187;

/* BREAKPOINTS */

$bp-tab: 768px;
$bp-medium: 960px;
$bp-desktop: 1200px;
